/*--- From http://getbootstrap.com/examples/carousel/carousel.css ---*/
/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  text-align: left;
  left: 10%;
  width: 50%;
  bottom: inherit; }
  .carousel-caption p.alone {
    margin: 2em 0; }
  .carousel-caption .link-p a {
    color: white; }
  .carousel-caption .link-p img {
    float: right; }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background: black;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../images/shop-outside-1228x500.jpg");
  /* fallback */
  background-image: -webkit-gradient(linear, left top, right bottom, from(black), to(transparent)), url("../images/shop-outside-1228x500.jpg");
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(left, black, transparent), url("../images/shop-outside-1228x500.jpg");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(left, black, transparent), url("../images/shop-outside-1228x500.jpg");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(left, black, transparent), url("../images/shop-outside-1228x500.jpg");
  /* IE10 */
  background-image: -o-linear-gradient(left, black, transparent), url("../images/shop-outside-1228x500.jpg");
  /* Opera 11.10+ */
  background-image: linear-gradient(to right, black, black 40%, transparent 80%, transparent 100%), url("../images/shop-outside-1228x500.jpg");
  /* W3C */ }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px; }

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px; }

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-3 {
  margin-bottom: 20px;
  text-align: center; }

.marketing h2 {
  font-weight: normal; }

.marketing .col-lg-3 p {
  margin-right: 10px;
  margin-left: 10px; }

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0; }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; }

  .featurette-heading {
    font-size: 50px; } }
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 50px; } }
/*--- End carousel.css ---*/
/*--- Constants ---*/
/*--- Overriding Bootstrap styles ---*/
.btn-primary {
  background-color: #8d0406;
  border-color: #5b0304; }

.btn-primary:hover {
  background-color: #bf0508;
  border-color: #8d0406; }

/* Active nav item takes brand red as a background color. */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: #8d0406; }

/* Change navbar-brand background to shop logo. */
.navbar-brand {
  text-indent: -9999px;
  width: 220px;
  background-image: url("../images/logo-220x50.png");
  background-repeat: no-repeat;
  background-position: center; }

.container {
  padding-top: 50px; }

.carousel {
  height: 400px; }

/*--- End Bootstrap overriding ---*/
/*--- Site layout ---*/
/**
 * Layout is
 * Navbar
 * #content (fluid container)
 * - header (could be a carousel, jumbotron)
 * - multi-purpose containers (not fluid), sections
 * - footer
 * 
 * 
 * 
 * */
#content {
  margin-top: 50px; }
  #content #featurette-partner {
    text-align: center; }
    #content #featurette-partner .featurette-heading {
      margin-top: 50px; }
    #content #featurette-partner .lead {
      margin-top: 20px;
      font-style: italic; }
    #content #featurette-partner .partner-logo {
      margin: 1em; }
  #content header {
    padding: 0;
    text-align: center;
    height: 400px; }
  #content footer {
    text-align: center; }
    #content footer p.nav {
      text-align: right; }

#shop-prices-table, #summer-prices-table {
  width: 80%;
  margin: 0 auto; }

#map-canvas {
  width: 500px;
  height: 400px; }
