---
layout: main
permalink: /
lang: fr
title: Skishop Lélex, location de matériel de ski station Monts Jura
description: Skishop Lélex est votre magasin de location de matériel de ski (mais également VTT l'été !) pour la station Monts Jura, domaine de Lélex - Crozet.
group: navigation
sitemap:
  lastmod: 2014-11-20
  priority: 1
  changefreq: monthly
---

<header id="headline-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#headline-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#headline-carousel" data-slide-to="1"></li>
        <li data-target="#headline-carousel" data-slide-to="2"></li>
        <li data-target="#headline-carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Skishop Lélex, location de matériel de ski au pied des pistes</h1>
                    <p>
                        Le meilleur du ski au pied des pistes de Lélex - Monts Jura&nbsp;!
                    </p>
                    <p>
                        Skishop vous accueille à 50 mètres de la télécabine, au cœur de la station Lélex - Monts Jura.
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#featurette-location" role="button">En savoir plus</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="item">
            <img src="/images/freeski-1815x500.jpg" alt="Photo freeski Voelkl">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Le meilleur de la glisse et du sport de montagne</h1>
                    <p class="alone">
                        Le meilleur du ski et de la glisse, piste, freestyle, freeride, snowboard, snowscoot tout y est, ne cherchez plus c'est SkiShop Lélex.
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#featurette-partner" role="button">En savoir plus</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="item">
            <img src="/images/panorama-1594x400.jpg" alt="Photo du panorama de Lélex">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        <a href="{{site.skimium-url}}" target="_blank" title=""><img src="/images/skimium.png" alt="Logo Skimium" /></a>
                    </p>
                    <p class="alone link-p">
                        <a href="{{site.skimium-url}}" target="_blank" title="">Plus simple, plus rapide, réservez votre matériel dès maintenant.</a>                        
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#featurette-skimium" role="button">En savoir plus</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="item">
            <!-- Waiting for a new picture -->
            <!-- <img src="/images/skishop-social-1295x400.jpg" alt="TODO"> -->
            <div class="container">
                <div class="row">                   
                    <div class="col-lg-4">
                        <div class="fb-like-box" data-href="{{site.fb-page-url}}"
                            data-height="325" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                    </div>
                    <div class="col-lg-4 social-caption">
                        <h1>Suivez Skishop Lélex sur les réseaux sociaux&nbsp;!</h1>
                        <a class="twitter-follow-button" href="{{site.twitter-url}}" target="_blank" data-lang="fr">
                            Suivez Skishop Lélex @skishoplelex
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="g-page" data-href="//plus.google.com/u/0/117439048034948114833" data-rel="publisher"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#headline-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#headline-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</header>

<section class="container marketing">

    <div id="featurette-location" class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">SkiShop Lélex, le magasin de sport de la station Monts Jura&nbsp;!</h2>
            <p class="lead">
                Avec <strong>96,8% de satisfaction client</strong> (<a href="{{site.skimium-url}}#shop-tab-satisfaction" target="_blank">données skimium.com</a>), Skishop vous accueille 7j/7 de 8h30 à 19h non stop, dans la bonne humeur et le professionnalisme pour vous offrir une expérience de glisse toujours plus exceptionnelle et avec toujours plus de services gratuits pour votre plus grand plaisir : gardiennage de matériel, retrait la veille au soir de votre premier jour de ski et parking juste devant le shop.
            </p>
        </div>
        <div class="col-md-5">
            <iframe width="480" height="360" src="//www.youtube.com/embed/DNEJlHhgISE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <hr class="featurette-divider">

    <div id="featurette-partner" class="row featurette">
        <h2 class="featurette-heading">Le meilleur de l'équipement<br><span class="text-muted">Disponible à la location et à la vente</span></h2>
        <ul class="list-inline">
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/volkl.png" alt="Logo de la marque Volkl" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/movement.png" alt="Logo de la marque Movement" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/line.png" alt="Logo de la marque Line" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/black-crows.png" alt="Logo de la marque Black Crows" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/white-doctor.png" alt="Logo de la marque White Doctor" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/marker.png" alt="Logo de la marque Marker" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/dalbello.png" alt="Logo de la marque Dalbello" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/imperium.png" alt="Logo de la marque Imperium" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/blackmountain.png" alt="Logo de la marque Blackmountain" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/picture.png" alt="Logo de la marque Picture" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/gopro.png" alt="Logo de la marque GoPro" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/salomon.png" alt="Logo de la marque Salomon" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/rossignol.png" alt="Logo de la marque Rossignol" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/dynastar.png" alt="Logo de la marque Dynastar" width="" height=""/></li>
            <li><img class="partner-logo img-responsive" src="/images/partner-logos/head.png" alt="Logo de la marque Head" width="" height=""/></li>
        </ul>
        <p class="lead">
            Visitez <a href="/fr/equipement" name="Détail des équipements proposés par Skishop Lélex">notre page équipement</a> pour plus d'informations.
        </p>
    </div>

    <hr class="urette-divider">

    <div id="featurette-skimium" class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Réservez avec <a href="{{site.skimium-url}}" target="_blank">Skimium.com</a></h2>
            <p class="lead">
                Testez les nombreux avantages de la réservation en ligne avec notre partenaire Skimium.com :
            </p>
            <ul>
                <li>
                    vous bénéficiez de réductions cumulées, pouvant aller jusqu’à -40&nbsp;% même en haute saison&nbsp;;
                </li>
                <li>
                    votre matériel est réservé et sera disponible dès votre arrivée au SkiShop de Lélex, station Monts Jura&nbsp;;
                </li>
                <li>
                    vous ne versez que 10&nbsp;% d’acompte à la réservation.
                </li>
            </ul>
            <p>
                <a href="{{site.skimium-url}}" target="_blank" role="button">Réservez dés maintenant sur Skimium.com</a>
            </p>
        </div>
        <div class="col-md-5">
            <a href="{{site.skimium-url}}" target="_blank"><img class="featurette-image img-responsive" src="/images/skimium-window.png" alt="Capture du site Skimium.com"></a>
        </div>
    </div>

</section>

{% include fb-api.html %}
{% include twitter-api.html %}
{% include google-api.html %}
