/* From http://getbootstrap.com/examples/navbar-fixed-top/ */
body {
  min-height: 2000px;
  padding-top: 70px;
}

/* --- Overriding Bootstrap properties ---*/

.navbar {
	color: #FFF;
	background-color: #8A0000;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #9B1111;
    color: #FFF;
}

header {
    text-align: center;
    height: 400px;
}

header img {
    margin: 20px auto 0;
}

header h1 {
	display: none;
}

#home-carousel {
    height: 400px;
    background-color: #8A0000;
    color: #FFF;
}

#home-carousel .container {
    margin-top: 20px;
}
