<hr class="featurette-divider">
<footer>
    <p class="nav">
        <a href="#">Revenir en début de page</a>
    </p>
    <p>
        &copy; 2009, 2019 Skishop Lelex &middot; SIRET&nbsp;: 515392959
        <br>
        En partenariat avec <a class="external-link" href="http://www.skimium.fr/store/ski-shop-lelex-167">Skimium.com</a>
    </p>
    <p class="lead">
        <span class="glyphicon glyphicon-earphone"></span> +33 (0)4 50 28 88 72
    </p>
    <p>
        <a href="/fr/contact">Contactez nous&nbsp;!</a>
    </p>
</footer>
